{% extends "layout.twig" %}

{# Assets #}
{% block assets %}
    {{ assets({files: ['User/login.js']}) }}
{% endblock %}

{# Content #}
{% block content %}
    <div class="container">
        <h1>{{ __('Hello') }}</h1>
    </div>
{% endblock %}